*{
  margin: 0;
  padding: 0;
 
}

body{
    background-color: #000000;
}
.navbar{

    height: 52px;
}

.navbar img{
    height: 29px;
    width: 32px;

}
.logo{
  
   border-radius:20px;
   margin-right:15rem;
   margin-top: 4px;
   filter: invert(1);
}

.navbar{

    margin-top: 12px;
    margin-left: 15px;
    display:flex;
    justify-content: space-between;
    border: 0px solid black;
    border-radius: 50%;
    
}
.content input{
    width: 27rem;
     display:flex;
     justify-content: space-between;
        position: relative;
        left: 150px;
   bottom:36px;

        
}
#btn{
    height:35px;
    width:43px ;
    border-radius: 50%;
    padding: 1px;
    margin-left: 79px;
    border: none;
    background-color:#1f1f1f;
    background-size:contain;
    background-repeat: no-repeat;
   
}
.navbar a{
    font-size:1.60rem;
    color: grey;
    text-decoration: none;
    height: 50px;
    position: relative;
    top:11px;
    left: 14px;


}
.search {
    height: 40px;
    width: 80px;
    border: 2px solid white;
    border-radius: 32px;
    color:black;
    background-color:#1f1f1f;

}
#btn1{
    height: 48px;
    width: 100px;
    position: relative;
    background-color:white;
    color: black;
    border:0px;
    border-radius: 32px;
    font-size:large;
    font-weight:bold;
    margin-right:1rem;
    
}

a:hover{
    color:white
}
.search:hover{
    background-color:#b3b3b3;
}
#btn img{
    filter:invert(1);
}


.icon{
    background-color: aliceblue;
    width: 25px;
    height: 20px;

}

.library{
    width: 27vw;
    height: 100vh;
    background-color:#121212;
    border-radius: 10px;
    display: flex;
    margin-left: 9px;
}
.home{
    margin-left: 7px;
    width: 73vw;
    height: 100vh;
    background-color: #121212;
    border-radius: 10px;
}
.item{
    display: flex;

}
.library img{
    height: 27px;
    width: 21px;
    filter: invert(1);
     padding: 14px;



}
.library a{
    color: grey;
    height: 10px;
    width:7rem;
    position:relative;
    top: 1.5rem;
    font-size: large;
    text-decoration: none;
    
}
.library a:hover{
    color: white;
}

.playlist{
    background-color:#1f1f1f;
    padding: 56px;
    margin-top:7rem;
    position: absolute;
    width: 18rem;
    height: 1.25rem;
    border-radius: 0.5rem;
    border: none;
}
.songlist{
   color: white;
    background-color:#1f1f1f;
    padding: 56px;
    margin-top:17rem;
    position: absolute;
    width: 18rem;
    height: 9rem;
    border-radius: 0.5rem;
    border: none;

    

}
.songlist ul {
    max-height: 14rem;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    left: 1rem;
    position: absolute;
    bottom: 19px;
}
.music{
    top:1rem;

}
.track{
    
    position: absolute;
    display: flex;
    
    left: 13rem;
}
.songlist li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    display: flex;
    padding-left: 1rem;
    height: 2rem;
    width: 12rem;
    position: relative;
    border: 2px solid white;

}

.songlist ul li{
    list-style: none;
    display: flex;
}

.playlist h3{
    position:relative;
    right:3rem;
    bottom:3rem;
    padding-left: 6px;
    color: white;
}
.playlist p{
    position: relative;
    right: 3rem;
    bottom: 2.75rem;
    padding-left: 8px;
    color: white;
    padding-top: 1px;
}
.playlist button{
    height: 2.25rem;
    width:8rem;
    position: relative;
    right:3rem;
    margin-left:0.25rem;
    border-radius:3rem;
    border:none;
    font-weight: 700;
    color: #210000;
    bottom:1.65rem;
}

.dis{
    margin-top:17rem;
    height: 9rem;

}

.tags{
    font-size:0.6875rem;
    font-family:  var(--encore-body-font-stack, var(--fallback-fonts, sans-serif));;
    font-weight: 400;
    
    display: flex;
    margin-top: 27rem;
    height: 16vh;
    width: 17vw;
    position: relative;
    right: 8rem;
    flex-wrap:wrap;
    color: #b3b3b3;
    column-gap: 19px;

}
.tags a{
    font-size:13px;
    font-family:  var(--encore-body-font-stack, var(--fallback-fonts, sans-serif));;
    font-weight: 400;
    padding-right:4rem;
    position:revert;
    color:white;
    font-size: 13px;
}
    

.tags a:hover{
    text-decoration: underline;
}

.foot{
    height: 16vh;
    width: 20vw;
    margin-top: 7rem;

}

.lang{
    height: 3rem;
    width: 5rem;
    position: relative;
    right: 9rem;
    border-radius: 10%;
}
.dom{
    height: 1rem;
    width: 2rem;

}
.lang button{
    height: 1.5rem;
    width: 5.5rem;
    border-radius:1rem ;
    border:2px solid whitesmoke;
    font-size: medium;
    position: absolute;
    left: 2.5rem;
    background-color:#121212;
    color: white;

}

.lbtn{
    height: 5rem;
    width: 5rem;
    border: 2px solid  green;
}
.style{
    padding-top: 1rem;
    display: flex;
justify-content: space-between;
align-items: center;
}

.style a:hover{
    text-decoration: underline;
}
.style h2:hover{
    text-decoration: underline;
}
.desk{
    height:175px;
    width: 229px;
    background-size: contain;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.desk img{
    height: 100%;
    width: 100%;
}
.run{
    position:absolute;
    right: 1px;
    bottom: 0;
}


.ace{

 height: 18rem;
 width: 66rem;
 display: flex;
    justify-content: center;
    margin-top: 2rem;
    column-gap: 2rem;

}

.king{
    height: 20rem;
 width: 66rem;
 display: flex;
    justify-content: center;
    margin-top: 2rem;
    column-gap: 2rem;

    position: absolute;
    left:26.8rem;
    padding-top: 9rem;
    align-items: end;
}

.title{
  
    width: 68rem;
    position: absolute;
    right: 0rem;
    height: 3rem;
    display: flex;
margin-top: 16rem;
    column-gap: 48vw;
    align-items: center;

}
.title h2:hover{
text-decoration: underline;
}
.title a:hover{
    text-decoration: underline;
}

.fonts{
    font-size:13px;
    font-family:  var(--encore-body-font-stack, var(--fallback-fonts, sans-serif));;
    font-weight: 400;
    list-style: none;
    color: #656565;
}

.footer h2{
    color: aliceblue;
}
.footer{
    display: flex;
    height: 10rem;
    width: 67rem;
    position: relative;
    top: 40rem;
    right: 66rem;
    column-gap: 9rem
}

.icons{
    height: 13rem;
    width: 9rem;
}
.cirbtn{
height: 13rem;
width: 9rem;
display: flex;
}

.circle{
    height: 2rem;
    width: 2rem;
position: relative;
right: 14rem;
filter: invert(1);
border: none;
border-radius: 10%;
padding-right: 7px;
}

#o1{
    color: aliceblue;
    margin-top: 5rem;
    position: relative;
    left: 27rem;
}

.playbar{
    height: 30px;
    width: 68.5vw;
    background-color: chartreuse;
    position: absolute;
    top: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.seekbar{
    height: 5px;
    width: 69vw;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
}
.bar{
    bottom: -3px;
    position: absolute;
    padding: 3px;
    height: 5px;
    width: 5px;
    border-radius: 52%;
    background-color:#4f4949;
    left: -2px;
    transition: left 0.5s;
    cursor: pointer;
}

.songinfo{
    left: 1rem;
    position: absolute;
    top: 0rem;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
.songtime{
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: medium;
    font-weight: bolder;
}